<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Icons-->
            <div class="col">
                <h4 class="text-uppercase mb-4">Reach Out</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/sedlacek.radek/"><i
                        class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/sedlacekradek"><i
                        class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="mailto: sedlacek.radek@email.cz"><i
                        class="fab fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Attribution Section-->
<div class="copyright py-1 text-center text-white">
    <div class="container"><small>Theme created by <a href="http://startbootstrap.com">Start Bootstrap</a></small></div>
</div>