<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Hi, my name is Radek. I am an aspiring self-taught developer.
                Please check out my growing portfolio of projects that I made using Python, Flask, SQL, HTMX and other technologies.
                Do not hesitate to reach out if you have any questions.</p>
            </div>
            <div class="col-lg-4 me-auto"><p class="lead">I have over 8 years of work experience including managerial
                positions. I am fluent in English and have limited knowledge of Russian.
                Feel free to check out my CV below.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a download class="btn btn-xl btn-outline-light" href="{{ url_for ('static', filename= 'Sedlacek_EN_cv.pdf') }}">
                <i class="fas fa-download me-2"></i>
                download my cv
            </a>
        </div>
    </div>
</section>