<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="portfolioModal1"
     tabindex="-1" aria-labelledby="portfolioModal1"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal"
                        hx-get="/stop-video/1"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        hx-target="#video1">

                </button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">FaceGuesser</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <div id="video1">
                                <!--video will be loaded here-->
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">FaceGuesser is an app that predicts the gender and age of a person in a
                                picture. It can also recognize if a person is smiling or not. In addition, there is a
                                section dedicated to how FaceGuesser works written in a way that anyone can grasp
                                the concept without prior machine learning knowledge.</p>
                            <p><strong>technologies used:</strong> Python, Flask, Keras, HTML, CSS, Bootstrap</p>
                            <a class="btn-modal" href="https://faceguesser.onrender.com/">
                                <button class="btn btn-primary "><i class="fa-solid fa-link"></i> See Live</button>
                            </a>
                            <a class="btn-modal" href="https://github.com/sedlacekradek/FaceGuesser">
                                <button class="btn btn-primary btn-modal">
                                    <i class="fa-brands fa-github"></i>
                                    View Code
                                </button>
                            </a>
                            <button class="btn btn-primary btn-modal" data-bs-dismiss="modal"
                                    hx-get="/stop-video/1"
                                    hx-trigger="click"
                                    hx-swap="outerHTML"
                                    hx-target="#video1">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="portfolioModal2"
     tabindex="-1" aria-labelledby="portfolioModal2"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal"
                        hx-get="/stop-video/2"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        hx-target="#video2">

                </button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">InstaClone</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <div id="video2">
                                <!--video will be loaded here-->
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">InstagramClone is a web app that copies the core functionalities of Instagram.
                            Users can upload pictures and stories, give likes, have followers, follow other users,
                            post comments, have a real-time chatting experience with other users, the site can recommend you
                            what profiles to follow, you can block other users and more. Check it out :)</p>
                            <p><strong>technologies used:</strong> Python, Flask, SQLAlchemy, HTMX, HTML, CSS, Bootstrap
                            </p>
                            <a class="btn-modal" href="https://instaclone-xo2l.onrender.com">
                                <button class="btn btn-primary "><i class="fa-solid fa-link"></i> See Live</button>
                            </a>
                            <a class="btn-modal" href="https://github.com/sedlacekradek/instaclone">
                                <button class="btn btn-primary btn-modal">
                                    <i class="fa-brands fa-github"></i>
                                    View Code
                                </button>
                            </a>
                            <button class="btn btn-primary" data-bs-dismiss="modal"
                                    hx-get="/stop-video/2"
                                    hx-trigger="click"
                                    hx-swap="outerHTML"
                                    hx-target="#video2">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="portfolioModal3"
     tabindex="-1" aria-labelledby="portfolioModal3"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal"
                        hx-get="/stop-video/3"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        hx-target="#video3">

                </button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">WhichIsOlder</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <div id="video3">
                                <!--video will be loaded here-->
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">WhichIsOlder is a quiz web app where users can guess which of the two
                                items shown (games, movies, brands or gadgets) is older. If the guess is incorrect, a
                                minigame of Wheel of Fortune is triggered in which users can get an extra life.</p>
                            <p><strong>technologies used:</strong> Python, Flask, HTMX, Bootstrap, HTML, CSS</p>
                            <a class="btn-modal" href="https://whichisolder.onrender.com/">
                                <button class="btn btn-primary "><i class="fa-solid fa-link"></i> See Live</button>
                            </a>
                            <a class="btn-modal" href="https://github.com/sedlacekradek/which-is-older">
                                <button class="btn btn-primary btn-modal">
                                    <i class="fa-brands fa-github"></i>
                                    View Code
                                </button>
                            </a>
                            <button class="btn btn-primary" data-bs-dismiss="modal"
                                    hx-get="/stop-video/3"
                                    hx-trigger="click"
                                    hx-swap="outerHTML"
                                    hx-target="#video3">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="portfolioModal4"
     tabindex="-1" aria-labelledby="portfolioModal4"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal"
                        hx-get="/stop-video/4"
                        hx-trigger="click"
                        hx-swap="outerHTML"
                        hx-target="#video4"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Bug Hunter</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <div id="video4">
                                <!--video will be loaded here-->
                            </div>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">Bug Hunter is a project management tool. Users can create their own
                                accounts, start new projects, assign tasks and prioritize what's most important.
                                It also allows to post and like comments, send messages and the site
                                dynamically loads notifications to alert users.</p>
                            <p><strong>technologies used:</strong> Python, Flask, SQLAlchemy, HTMX, HTML, CSS, Bootstrap
                            </p>
                            <a class="btn-modal" href="https://bughunter.onrender.com/">
                                <button class="btn btn-primary "><i class="fa-solid fa-link"></i> See Live</button>
                            </a>
                            <a class="btn-modal" href="https://github.com/sedlacekradek/BugHunter">
                                <button class="btn btn-primary btn-modal">
                                    <i class="fa-brands fa-github"></i>
                                    View Code
                                </button>
                            </a>
                            <button class="btn btn-primary modal-close" data-bs-dismiss="modal"
                                    hx-get="/stop-video/4"
                                    hx-trigger="click"
                                    hx-swap="outerHTML"
                                    hx-target="#video4">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>